<div class="wrapper">

  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet> <!-- For displaying child routes -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Footer -->
  <app-footer></app-footer>
</div>
<!-- ./wrapper -->
